:root {
    --sky: rgb(108, 172, 228);
    --white: rgb(255, 255, 255);
    --yellow: rgb(255, 184, 28);
    --brown: rgb(125, 64, 22);
    --black: rgb(0, 0, 0);
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    background-color: var(--sky);
    border-bottom: 10px solid var(--white);
    color: var(--black);
    text-align: center;
    padding: 30px;
    margin: 0;
}

h2 {
    font-weight: bold;
    color: var(--white);
    margin: 10px auto;
    padding: 5px;
    background-color: var(--brown);
    width: 200px;
    text-align: center;
    border-radius: 20px;
}

.hero{
    display: flex;
    justify-content: center;
}

.hero img{
    width: 100%;
}

.data-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.data-table th {
    text-align: left;
    font-weight: bold;
}

.data-table td {
    text-align: right;
}

.data,
.weather {
    text-align: center;
    padding: 20px 20px 0px 20px
}

.weather img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

footer {
    background: var(--sky);
    color: var(--black);
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

footer p {
    margin: 0;
}